<html> 
    <style>
        .post-container {
            background-color: white;
            margin: 16px;
            border-radius: 5px;
            border: solid 2px gray;
            padding: 2%; 

        }
    </style>
    <!-- axios request  -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        async function handleDeletePost(e) {
            console.log("Deleting post...")
            console.log(e.target.id)
            
            const postId = e.target.id
            const url ='/post/' + postId
            try {
                await axios.delete(url)
            location.reload()
            }
            catch(err) {
                console.error(err.toString())
                alert(err.toString())
            }
        }
    </script>

    <body style="background-color: rgb(235,235,235)">
        This will show a list of our posts

        <form class="post-container" action="/post" method="POST">

            <div>Create Post</div>
            <input name='title'type="text" placeholder="Post Title">
            <input name='postBody' type="text"  placeholder="Post Body">
            <button type="submit">Submit</button>

        </form>

        <div>
                <% allPosts.forEach(p => {%>
            <div class="post-container">
                        <div><%= p.title %></div>
                        <div><%= p.body %></div>
                        <button id="<%= p.id %>"onclick="handleDeletePost(event)">Delete</button>
            </div>
            <%}) %>
            
        </div>
    </body>
    
</html>